body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    /*background-image: url("Fond.png");*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size:100% auto;
    
}

header{
    background-color: #F1DEC8; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    /*background-image: url("Fond.png"); */
    height:12em;
}

.Drapeau{
    background-color: orange;
    margin-left: 96%;
}

header div#Nom {
  text-align: center;
  font-family: Times, "Times New Roman", Georgia, serif;
  background-color: white;
  border-left: 5px double black;
  border-right: 5px double black;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-radius: 5px;
  width : 30%;
  margin-left: auto;
  margin-right: auto;
}

div#Presentation{
  background-color: black;
}

div#Presentation div{
  display : inline-block;
}

div#Box5 p{
  text-align: left;
}

div#Box4{
  background-color: orange;
  padding-left:10%;
  font-size: 20px;
  font-family: "Lucida Console", Courier, monospace;
  color: grey;
}

div#Box5{
  background-color: red;
  text-align: center;
  vertical-align:top;
  margin-left: 1%;
  width : 32%;
}

div#Box5 p{
  text-align: left;
  background-color: yellow;
}

div#Box6{
  background-color: green;
  text-align: center;
  width : 33%;
}

div#Box7{
  background-color: yellow;
  text-align: left;
  vertical-align:top;
  width : 32%;
}

div#Box7 .Tel{
  background-color: orange;
  margin-left: 2%;
}

div#Box7 .Link{
  background-color: blue;
  margin-left: 2%;
}

div#Box7 .Email{
  background-color: red;
  margin-left: 2%;
}


div#Boxnav div{
  display : inline-block;
  vertical-align:top;
  text-align: center;
  height:3em;

}

div#Box9{
  background-color: grey;
  width : 32%;
  margin-left: 1%;
}

div#Box10{
  background-color: red;
  width : 33%;
}

div#Box11{
  background-color: grey;
  width : 32%;
}


