header{
    background-color: #F1DEC8;
    color: black; /* Le texte de la page sera noir */
    height:12em;
}

.Drapeau{
    margin-left: 96%;
}

header div#Titre {
  text-align: left;
  font-family: Times, "Times New Roman", Georgia, serif;
  width : 50%;
  margin-left: 10%;
}

.Back{
    margin-left: 3%;
}

body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    /*background-image: url("Fond.png");*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size:100% auto;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size:18px;
}

div#Box13{
  background-color: #F1DEC8;
  border-radius:5px;
  
  width : 94%;
  margin-left: 3%;
}

div#Box13 div{
  margin-left: 2%;
}

div#Box13 h2{
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  margin-left: 1%;
}

div#Box16{
  background-color: #F1DEC8;
  border-radius:5px;
  margin-left: 3%;
  width : 94%;
}


div#Box16 h2{
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  margin-left: 1%;
  
}

div#Box17{
  margin-left: 2%;
}

div#Box19{
  margin-left: 2%;
}

div#Box21{
  margin-left: 2%;
}


div#Box18{
  margin-left: 5%;
}

div#Box20{
  margin-left: 5%;
}

div#Box22{
  margin-left: 5%;
}

div#Box23{
  background-color: #F1DEC8;
  border-radius:5px;
  width : 94%;
  margin-left: 3%;
}

div#Box23 div{
  margin-left: 3%;
}

div#Box23 h2{
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  margin-left: 1%;
}
